body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 1000px;
    background-image: url("../img/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    margin: 10px 0px;
    /* padding: 10px 10px; */
    width: 800px;
    height: 1480px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: left;
    flex-direction: row;
    position: relative;
}


/* div trai */

section .leftDiv {
    margin: 10px 10px;
    width: 300px;
    height: 1440px;
    background-color: white;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, .3); */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.leftDiv .avatar {
    margin-bottom: 1rem;
    width: 180px;
    height: 200px;
    transition: 200ms;
}

.leftDiv .avatar img {
    width: 190px;
    height: 200px;
}

.leftDiv .avatar:hover {
    transform: scale(3);
}

.leftDiv .rotateDiv {
    position: absolute;
    background-color: #ff8447;
    width: 200px;
    height: 400px;
    left: 0px;
    transform: rotate(30deg);
    margin-top: -196px;
    margin-left: -90px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
}

.leftDiv h1 {
    margin: 0px;
    color: #ff8447;
    margin-bottom: .5rem;
}

.leftDiv h6 {
    margin: 0px;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}

.leftDiv .info {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    display: flex;
}

.leftDiv .info .iconCV {
    width: 10%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.leftDiv .info .iconCV i {
    margin-bottom: 15px;
    color: #ff8447;
}

.leftDiv .info .infoContact {
    width: 100%;
    height: 100%;
}

.leftDiv .info .infoContact h5 {
    margin: 0px 0px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, .5);
}


/* muc tieu nghe nghiep */

.leftDiv .muctieunghenghiep {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.leftDiv .muctieunghenghiep div:nth-child(1) {
    width: 100%;
    background-color: #ff8447;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}

.leftDiv .muctieunghenghiep div:nth-child(1):hover {
    background-color: #fd6215;
}

.leftDiv .muctieunghenghiep h4 {
    margin: 0px auto;
    color: white;
    font-size: 20px;
}

.leftDiv .muctieunghenghiep .infottnn {
    margin-top: 15px;
}

.leftDiv .muctieunghenghiep .infottnn h5 {
    margin: 0px 0px;
    line-height: 2rem;
    color: rgba(0, 0, 0, .5);
}


/*Ky nang*/

.leftDiv .kynang {
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.leftDiv .kynang #kynang {
    width: 100%;
    background-color: #ff8447;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.leftDiv .kynang #kynang:hover {
    cursor: pointer;
    background-color: #fd6215;
}

.leftDiv .kynang #kynang h4 {
    margin: 0px auto;
    color: white;
    font-size: 20px;
}

.kynang #infokynang {
    width: 100%;
    height: 100%;
}

.kynang #infokynang h5 {
    margin: 0px 0px;
    margin-top: 10px;
    line-height: 2rem;
    color: rgba(0, 0, 0, .5);
}

.kynang #infokynang .progressbar {
    width: 100%;
    position: relative;
}

.kynang #infokynang .progressbar1 {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, .3);
}

.kynang #infokynang .progressbar2 {
    position: absolute;
    width: 60%;
    height: 10px;
    background-color: #ff8447;
}

.kynang #infokynang .progressbar2_1 {
    position: absolute;
    height: 10px;
    background-color: #ff8447;
}

.kynang #infokynang .progressbar2_2 {
    position: absolute;
    height: 10px;
    background-color: #ff8447;
}

.kynang #infokynang .progressbar2_3 {
    position: absolute;
    height: 10px;
    background-color: #ff8447;
}

.kynang #infokynang .progressbar2_4 {
    position: absolute;
    height: 10px;
    background-color: #ff8447;
}


/* So thich */

.leftDiv .sothich {
    width: 100%;
    /* display: flex;
    align-items: center; */
    flex-direction: column;
    margin-bottom: 40px;
}

.leftDiv .sothich #sothich {
    width: 100%;
    background-color: #ff8447;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.leftDiv .sothich #sothich:hover {
    cursor: pointer;
    background-color: #fd6215;
}

.leftDiv .sothich #sothich h4 {
    margin: 0px auto;
    color: white;
    font-size: 20px;
}

.sothich .infosothich {
    margin: 0px 0px;
    color: rgba(0, 0, 0, .5);
}


/* div phai */

section .rightDiv {
    width: 470px;
    height: 1180px;
    margin: 10px 0px;
    box-shadow: -2px 5px 7px rgba(0, 0, 0, .2);
}


/* hocvan */

.rightDiv .hocvan {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

.rightDiv .hocvan #hocvan {
    width: 100%;
    background-color: #ff8447;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.rightDiv .hocvan #hocvan:hover {
    cursor: pointer;
    background-color: #fd6215;
}

.rightDiv .hocvan #hocvan h4 {
    margin: 0px 0px;
    color: #fff;
    font-size: 20px;
}

.rightDiv .hocvan h5 {
    margin: 0px 0px;
    line-height: 2rem;
    color: rgba(0, 0, 0, .5);
}


/* project */

.rightDiv .project {
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
}

.rightDiv .project #project {
    width: 100%;
    background-color: #ff8447;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.rightDiv .project #project:hover {
    background-color: #fd6215;
    cursor: pointer;
}

.rightDiv .project #project h4 {
    margin: 0px 0px;
    color: #fff;
    font-size: 20px;
}

.rightDiv .project h5 {
    margin: 0px 0px;
    line-height: 2rem;
    color: rgba(0, 0, 0, .5);
}


/* chung nhan */

.rightDiv .chungnhan {
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
}

.rightDiv .chungnhan #chungnhan {
    width: 100%;
    background-color: #ff8447;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.rightDiv .chungnhan #chungnhan:hover {
    cursor: pointer;
    background-color: #fd6215;
}

.rightDiv .chungnhan #chungnhan h4 {
    margin: 0px 0px;
    color: #fff;
    font-size: 20px;
}

.rightDiv .chungnhan h5 {
    margin: 10px 0px;
    line-height: 2rem;
    color: rgba(0, 0, 0, .5);
}


/* hoat dong */

.rightDiv .hoatdong {
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
}

.rightDiv .hoatdong #hoatdong {
    width: 100%;
    background-color: #ff8447;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.rightDiv .hoatdong #hoatdong:hover {
    cursor: pointer;
    background-color: #fd6215;
}

.rightDiv .hoatdong #hoatdong h4 {
    margin: 0px 0px;
    color: #fff;
    font-size: 20px;
}

.rightDiv .hoatdong h5 {
    margin: 15px 0px;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .5);
}


/* about me */

.rightDiv .aboutme {
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
}

.rightDiv .aboutme #aboutme {
    width: 100%;
    background-color: #ff8447;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.rightDiv .aboutme #aboutme:hover {
    cursor: pointer;
    background-color: #fd6215;
}

.rightDiv .aboutme #aboutme h4 {
    margin: 0px 0px;
    color: #fff;
    font-size: 20px;
}

.rightDiv .aboutme h5 {
    margin: 15px 0px;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .5);
}

.line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #fd6215;
}